<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" {{action "save" on="submit"}}>
      <div class="form-group">
        <label for="title">Titulo:</label>
        {{input name="title" value=title class="form-control"}}
      </div>
      <div class="form-group">
        <label for="body">Conteudo:</label>
        {{textarea name="body" value=body class="form-control"}}
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

